<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Submission #<%= @submission.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/submissions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/submissions/<%= @submission.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit submission
        </a>
      </div>

      <div class="col">
        <a href="/delete_submission/<%= @submission.id %>" class="btn btn-block btn-outline-secondary">
          Delete submission
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Text
      </dt>
      <dd>
        <%= @submission.text %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @submission.user.present? %>
          <a href="/users/<%= @submission.user_id %>">
            <%= @submission.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@submission.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@submission.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "submission_templates/submission_reactions" %>
  </div>
</div>
