<% if @result.errors.any? %>
  <% @result.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit result #<%= @result.id %>
</h1>

<hr>

<form action="/update_result/<%= @result.id %>" method="post">

  <div class="form-group">
    <label for="submission_id">
      Submission
    </label>

    <%= select_tag(:submission_id, options_from_collection_for_select(Submission.all, :id, :text, @result.submission_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="flags">
      Flags
    </label>

    <input type="text" id="flags" name="flags" class="form-control" value="<%= @result.flags %>">
  </div>

  <div class="form-group">
    <label for="confidence">
      Confidence
    </label>

    <input type="text" id="confidence" name="confidence" class="form-control" value="<%= @result.confidence %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update result
  </button>
</form>

<hr>

<a href="/results">
  Go back
</a>
